<div class="box">
  <h2>Create a new Student</h2>

  <ul class="new-student">
    <form method="post" action="/">

      <li><label><p>Name:</p>
        <input type="text" name="name" required>
      </label></li>

      <li><label><p>Grade:</p>
        <input type="text" name="grade">
      </label></li>

      <li><label><p>Parent:</p>
        <input type="text" name="parent">
      </label></li>

      <li><label><p>Parent Contact:</p>
        <input type="text" name="contact">
      </label></li>

      <li><label><p>Goals:</p>
        <input type="text" name="goals[]">
        <input type="text" name="goals[]">
        <input type="text" name="goals[]">
        <input type="text" name="goals[]">
        <input type="text" name="goals[]">
        <input type="text" name="goals[]">
      </label></li><br>

      <li><input type="submit" name="Add Student"></li>
    </form>
  </ul>
</div>





